* {
  margin: 0;
  padding: 0;
}
.screen {
  width: 100%;
  height: 100vh;
  background: #17202a;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation:rotate 3s linear infinite;
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}
.loader span {
  width: 32px;
  height: 32px;
  background: red;
  margin: 4px;
  animation: scale 1.5s linear infinite;
}
@keyframes scale {
  50% {
    transform: scale(1.2);
  }
}
.loader span:nth-child(1) {
  border-radius: 50% 50% 0 50%;
  transform-origin: bottom right;
  background-color: #aed6f1;
}
.loader span:nth-child(2) {
  border-radius: 50% 50% 50% 0;
  transform-origin: bottom left;
  background-color: #f9e79f;
  animation-delay: 0.5s;
}
.loader span:nth-child(3) {
  border-radius: 50% 0 50% 50%;
  transform-origin: top right;
  background-color: #abebc6;
  animation-delay: 1.5s;
}
.loader span:nth-child(4) {
  border-radius: 0 50% 50% 50%;
  transform-origin: top left;
  background-color: #f5b7b1;
  animation-delay: 1s;
}
